.headdiv{
    height: 55rem;
    width: 80rem;
    border: 1px solid rgb(79, 78, 78);
    /* margin-top: 5rem;
    margin-left: 20rem; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.blurr-container{
    position:fixed;
    background-color: rgba(189,189, 189, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#headerdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.horizontal{
    border: 1px solid rgb(79, 78, 78);
}


#cancelimg{
    margin-right: 1rem;
}

h2{
    margin-left: 2rem;
}

#bio{
    height: 10rem;
    border: 1px solid rgb(79, 78, 78);
}

table>:last-child{
    border-bottom: none;
}